*{
    margin: 0;
}
body{
    overflow-x: hidden;    margin: 0 auto;    padding: 0;
    width: 95%; 
}

header{
    background: rgb(0, 76, 139);     margin: 0 auto;  padding: 1%; height: 6rem; 
    border-bottom: 2px solid white; height: auto;
}
.foto-cv{
    display: flex;    align-items: center;    justify-content: center; 
}
.foto-cv img:hover{
    opacity: 0.5;
}
.enlaces{
    margin: 0 auto;    display: flex;    justify-content: center;
    align-items: center;
}
nav{
    margin: 0 auto;    display: flex; 
    align-items: center;    width: 100%;
}
nav ul{
    display: flex;   justify-content: space-between;
    align-items: center;   width: 100%;
}
nav a{
    text-decoration: none;    color: wheat;    font-weight: bold;
    font-size: 1.1rem;    padding: 1%;    border-radius: 25% 0% 25% 0%;
}
nav a:hover{
    color: rgb(0, 76, 139);    background: white;    text-decoration: underline;
}
.foto-cv img{
    border-radius: 10%;
}
.cuerpo_cv{
    margin: 0 auto; 
}
.caja{
    border-bottom: 2px solid rgb(0, 76, 139);;
}
.caja:target{
    background: rgba(171, 243, 201, 0.74)
}
.presentacion{
    margin: 0 auto;    background: rgb(0, 76, 139);
}
.presentacion h3{
    color: orange;    text-align: center;
}
.presentacion p{
    text-align: center;    margin: 0;    font-weight:400px; color: white;
}
span{
    font-weight: 500;
}

.contenido{
    width: 90%;    margin: 0 auto;
}
.contenido h5{
    color: rgb(3, 3, 3);
}
.formacion h3, .experiencia h3, .aptitudes h3{
    color: rgb(0, 76, 139);
}

.chinchetas::before{
    content: "📌";    margin-right: 8px;    
}
.span{
    color:rgb(148, 52, 52);
}

.contenido p{
    margin: 0;    text-align: justify;    font-size: 1rem;
}
.marquee {
    display: flex;    flex-direction: row;    justify-content:space-between;
    justify-items: center;
}
footer{
    background: rgba(61, 66, 66, 0.813);
}
footer p{
    margin:0;    text-align: center;    font-weight: bold;
}
footer p i{
    color:rgb(247, 247, 9);
}
footer h5{
    text-align: center;    color: white;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 15s linear infinite;
}
.imprimir{
    margin-left: 2%;
}

.datos_interes{
    margin: 0 auto; width: 100%; padding: 2%; background: rgba(0, 76, 139, 0.63);
}

.datos_interes h4{
    text-align: center; color: white; margin-bottom: 1%;
}
.datos_interes p{
    text-align: justify;
}

@keyframes marqueeHorizontalUp {
    50% { transform: translateX(-40%); }
    50% { transform: translateX(-5%); }
}
.marquee-horizontal-up{
    animation:marqueeHorizontalUp 5s ease-in-out infinite reverse;
}



@keyframes marqueeHorizontalDown {
    50% { transform: translateX(40%); }
    50% { transform: translateX(5%); }
}

.marquee-horizontal-down {
    animation: marqueeHorizontalDown 5s ease-in-out infinite;
}


@media print {
    marquee {
        animation: none !important; /* Detiene la animación */
        overflow: visible !important; /* Muestra todo el contenido */
        white-space: normal !important; /* Permite saltos de línea */
        display: block !important; /* Asegura que se vea */
    }
}
#btnArriba {
    position: fixed;
    bottom: 10px;
    right: 5%;
    color: rgb(0, 76, 139);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none; /* Ocultar al inicio */
}

#btnArriba:hover{
    background-color:rgb(0, 76, 139);
    color: white;
}

